<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/monokai-sublime.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
  <div class="container title-wrapper">
    <div class="jumbotron title-content">
      <div class="title__bar">
        <h1 class="display-3">Michael J Cooper</h1>  
      </div>
      <br>
      <div class="main">
        <pre class="codeContainer"><code class="javascript">function greeting() {
  return "Hello World!";
}</code></pre>
      <%= link_to('View Blog', posts_path, class: "btn btn-primary title__button") %>
      </div>
    </div>
  </div>
</body>
</html>