<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/monokai-sublime.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
  <div class="container">
    <div class="title__bar">
      <h1>Michael J Cooper</h1>  
    </div>
    <div class="main">
      <pre><code class="javascript">function greeting() {
  return "Hello World!";
}</code></pre>
    </div>
  </div>
</body>
</html>