<h1><%= @post.title %></h1>
<a href="/posts/<%=@post.id%>/edit" class="btn btn-primary">Edit Post</a> | 
<%= link_to 'Delete Post',  { action: :destroy, id: @post.id }, method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' } %>
<div class="blog__content">
	<%= @post.content %>
</div>